
   <div class="container">
      <form >
         <div class="input-group has-validation mb-3 create-edit">
            
            <input id="editExpensesCategory" type="text" class="form-control"  aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" placeholder="Название...">
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
              Заполните поле ввода!
            </div>
          </div>
             
         <button type="submit" class="btn btn-success" id="editExpensesCategoryBtn">Сохранить</button>
         <button  class="btn btn-danger">Отмена</button>
       </form>
   </div>
   
