

   <div class="expenses container">
   <div class="cards row " id="cards">
<!-- сюда вставим карточки расходов -->

  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4 pt-4 text-center fw-semibold">
            <div class="modal-body fs-5">
                Вы действительно хотите удалить категорию? Связанные расходы
                        будут удалены навсегда.
            </div>
            <div class="modal-footer d-flex justify-content-center gap-2 pb-3 border-top-0">
                <button type="button" class="btn btn-lg btn-success"><a href="javascript:void(0)" type="button" class="modal-btn btn btn-success" id="delete-btn"
              data-bs-dismiss="modal"id="delete-btn">Да, удалить</a></button>
                <button type="button" class="btn btn-lg btn-danger" data-bs-dismiss="modal">Не удалять</button>
            </div>
        </div>
    </div>
</div>

</div>
