@media screen and (max-width: 1135px){
.btn {
  margin-bottom: 10px;
}
}

@media screen and (max-width: 1024px) {
  body {
   overflow-y: hidden;
   overflow-x: hidden;
   
  }
.sidebar {
    position: fixed;
     top: 0;
    left: 0;
    z-index: 999;
    max-width: 300px;
    width: 80%;
    overflow-x: hidden;
    overflow-y: auto;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: opacity 0.3s ease, visibility 0.2s ease, transform 0.3s ease;


}
.sidebar.show {
   pointer-events: all;
   width: 219px;
   height: 100vh;
   background: #f2f2f2cf;
   opacity: 1;
   visibility: visible;
   transform: translateX(0);
}
.sidebar_toggler {
display: block;
position: absolute;
top: 4vh;
right: 3.5vw;

} 
.wrapper-layout {
  position: relative;
}


.menu-toggle {
  position: absolute;
  right: 1.5rem;
  top: 49%;
  transform: translateY(-50%);
  height: 26px;
  width: 29px;
}

.menu-toggle,
.menu-toggle:hover {
  color: #71787f;
}

.menu-toggle-bar {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  right: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #978e8e;
  transition: all 0.3s ease;
}
.menu-toggle-bar.menu-toggle-bar--top {
  transform: translateY(-8px);
}

.menu-toggle-bar.menu-toggle-bar--bottom {
  transform: translateY(8px);
}

.nav-open .menu-toggle-bar.menu-toggle-bar--top {
  transform: translateY(0) rotate(45deg);
}

.nav-open .menu-toggle-bar.menu-toggle-bar--middle {
  opacity: 0;
}

.nav-open .menu-toggle-bar.menu-toggle-bar--bottom {
  transform: translateY(0) rotate(-45deg);
}

.header {
  padding-left: 0;
  text-align: center;
}
.days-navigation{
  margin-left: 0;
  justify-content: center;
}
.separator {
  display: none;
}

}
@media screen and (max-width: 425px) {
  .action .btn {
   margin-bottom: 10px;
  }
  form {
    width: 280px;
  }
 
}