
<div class="container-fluid">
  <div class="form-wrapper">
    <select class="form-select" id="type-select" aria-label="Default select example">
    </select>
    <select class="form-select" id="category" aria-label="Default select example">
    </select>
    <input type="text" class="form-control" id="sum" placeholder="Сумма в $...">
    <input type="text" class="form-control" id="date" placeholder="Дата..." onfocus="(this.type='date')"
      onblur="if(!this.value)this.type='text'">
    <input type="text" class="form-control" id="comment" placeholder="Комментарий...">
    <div class="btn-wrapper">
      <button class="btn btn-success" id="create-button">Создать</button>
      <a href="/incomes-expenses" type="button" class="btn btn-danger">Отменить</a>
    </div>
  </div>

</div>