
   <div class="container">
      <form >
         <div class="input-group has-validation mb-3 create-edit">
            
            <input id="editIncomesCategory" type="text" class="form-control"  aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" placeholder="категория">
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
              Заполните поле ввода!
            </div>
          </div>
             
         <button type="submit" class="btn btn-success" id="editIncomesCategoryBtn">Сохранить</button>
         <button  class="btn btn-danger" id="cancelBtn">Отмена</button>
       </form>
   </div>
